

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700 &display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700 &display=swap');
:root{
    --primary-color: #ec3237;
    --primary: #ec3237;
    --secondary: #ffffff;
    --success: #3d5467;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

body{
        font-family: 'Quattrocento', serif;

}

html{
    overflow-x:hidden;
}
a{
    color:var(--primary-color);
}

h1,  h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;

}

p {
    font-family: 'Quattrocento', serif;

}

.btn {
font-family: 'Oswald', sans-serif!important;
font-weight: 700!important;
text-transform: uppercase;

    }

    .btn-light {
        color:var(--primary-color);
    }


    .about-section h2 {
        font-weight: 700;
    }

    .dropdown-menu a{
        color:#3d5467;
    }
    .dropdown-menu h3{
        color:#3d5467;
        font-weight: 700;
    }

@media (min-width: 768px) {  

.logo img {
     max-width: 94%;
 }

.nav .svelte-1wzfi35  li  a.svelte-1wzfi35 {
padding: 1.25em 0 1.25em 0!important;

}
.nav.svelte-1wzfi35  li.svelte-1wzfi35 {
    min-height: 50px;
    
}


}

 
 
@media (min-width: 992px) { 
.logo img {
  
}
}
 
@media (min-width: 1200px) {  
.logo img {
  }
}
